/* -- Reset css */
@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo'), url(fonts/Menlo-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('fonts/Monaco.woff') format('woff');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inconsolata, Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Reset css */
#login {
  display: none;
  position: "absolute";
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

#user-name {
  color: var(--color-purple);
}

#error-message {
  color: red;
}



html, body {
  font-size: 18px
}

:root {
  --primary-color: #81C630;
  --secondary-color: yellow;
  --color-purple: #AB3783;
  --color-cyan: #295BA7;
  --color-text-light: #d9d9d9;
  --color-orange: #ff6c34;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center
}

header .header-content .header-item {
  padding: 10px 20px
}

header .header-content .header-item:first-child {
  margin-left: -20px
}


.login {
  width: 500px;
  border: 1px solid #eee;
  padding: 30px;
}

.login h1 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.login form {
  display: flex;
  flex-direction: column;
}
.login form input {
  height: 32px;
  max-width: 400px;
  margin: 10px 10px 10px 0px;
  width: 100%;
  border: 2px solid var(--primary-color);
  padding-left: 8px;
}
.login form button {
  display: inline-block;
  padding: 6px 16px;
  background: var(--color-cyan);
  color: white;
  height: 32px;
  width: 200px;
  margin: 10px 10px 10px 0px;
  border: "1px solid var(--color-cyan) !important";
}

.food-item {
  margin-top: 25px;
  margin-bottom: 25px;
}

.food-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.food-form-item label {
  cursor: pointer;
}
.food-form-item label:hover {
  background: #eee;
}

.food-item .food-selection-item {
  margin-right: 10px;
}

.food-title {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.food-title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 24px;
  background: var(--secondary-color);
  left: 12px;
  z-index: -1;
  top: 12px;
}

.people {
  display: flex;
}

.people-item {
  display: inline-block;
  padding: 2px 4px;
  background-color: var(--primary-color);
  font-weight: 600;
  margin: 2px;
  color: white;
  font-size: 13px;
}

.people-item.self {
  background-color: var(--color-purple);
}

.greeting {
  text-align: right;
}

.date {
  color: var(--color-text-light);
}

@media screen and (max-width: 370px) {
  .food-title::before {
    width: 50%;
    height: 90%;
  }
}

.special {
  font-size: 10px;
  background: var(--color-orange);
  margin-right: 10px;
  padding: 4px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}
